/* app css stylesheet */

html,body {
	font-family: sans-Serif;
	background-color:#ABCDEF;
}

.navbar h1 {
	color:white;
	font-size: 2em;
}

#footer {
	height:2em;
	color:white;
	width:100%;
}

.complexityHeadline {
	color: #ABCDEF;
}

#checkCount {
	font-size:25em;
	color:#ABCDEF;
}

#main {
	margin-top:3em;
}

#codeInput {
	height:30em;
	color:white;
}

#resultDiv {
  position: relative;
  border:.1em solid white;
  max-height:30em;
  overflow-y: auto;
  background-color:#3c3c3c;
  color:white;
}

#itemizedComplexityCount,
#complexityCount {
  position: absolute;
  top: 0;
  left: 0;
}
#itemizedComplexityCount {
  z-index: 10;
}
#countBig {
	opacity:.5;
}

#breakdownHeader {
	font-size:2em;
}

.lineEval {
	font-weight:bold;
	color:red;
}

#rating {
	color:#ABCDEF;
	font-size:2em;
}
#breakdown{
	margin: 1em;
}
#breakdown *{
	margin-top: 1em;
}
#linedCode {
	max-height:30em;
	overflow-y:auto;
}