<div class="col-md-12 col-xs-15">
	<div ng-controller="mainViewCtrl">
		<ul class="list-stacked text-center pull-left col-md-1 col-xs-1 col-sm-1" id="lineGutter">
			<li id="lineNums" class="text-right" data-ng-repeat="i in lineArr">{{i}}</li>
		</ul>
	  <form novalidate class="simple-form" >
		    <textarea class="col-md-4 col-xs-4 navbar-inverse" ng-model="jsCode" placeholder="Paste your code here" id="codeInput">		

			</textarea>
		    <input class="btn btn-success text-center col-md-2 col-xs-2" type="submit" ng-click="checkJSCode(jsCode)" value="Check!" id="checkButton"/>
	  </form>

		<div class="col-md-4 col-xs-4 text-center" id="resultDiv">

			<div class="complexityBreakdown col-md-12 col-xs-16 text-center" id="itemizedComplexityCount">
				<h3 class="complexityHeadline" id="breakdownHeader">Cyclomatic Complexity</h3><span id="rating">({{rating}})</span>
				<ul id="breakdown">
					<li>The minimum cyclomatic complexity of a function is 1</li>
					<li data-ng-repeat="(k,v) in complexityItemBreakdown"><span class="lineEval ">Line {{k}}</span>
						<ul data-ng-repeat="(key,val) in v" class="text-center">
							<li>The <em><strong>{{val.complexityGrowerValue}} </strong> </em> {{val.complexityGrowerType}} raises the complexity to {{key}}</li>
						</ul>
					</li>
				</ul>

			</div>

			<div class="col-md-12 col-xs-16 text-center" id="countBig" >
				<h1><span class="col-md-12 col-xs-16" id="checkCount">{{ count }} </span></h1>
				
			</div>
		
		</div>
	</div>
</div>
